@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.menu {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    font-size: 120px;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 700;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.buttons button {
    width: 25%;
    min-width: 450px;
    font-size: 50px;
    border: 0;
    padding: 18px 0;
    background-color: #2d2d2d;
    color: lightcyan;
    transition: 100ms ease;
    font-family: 'Ubuntu';
}

.buttons button:hover:not(:active) {
    transform: scale(1.05);
    background-color: #1d1d1d;
    width: 28%;
}

.buttons button:active {
    transform: scale(0.98);
    background-color: #3d3d3d;
}